.toggle-mnu span:after,
.toggle-mnu span:before {
    content: "";
    position: absolute;
}

.toggle-mnu span:after,
.toggle-mnu span:before {
    content: "";
    position: absolute;
}

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
    width: 100%;
    height: 2px;
    background-color: #44c0c2;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    left: 0;
}

.toggle-mnu {
    float: right;
    position: absolute;
    right: 35px;
    top: 0;
    text-align: center;
    line-height: 48px;
    display: none;
    width: 28px;
    height: 28px;
    margin-top: 14px;
    cursor: pointer;
}

.toggle-mnu span {
    position: relative;
    display: block;
}

.toggle-mnu span:after {
    top: 18px;
}

.toggle-mnu span:before {
    top: 9px;
}

.toggle-mnu.on span {
    background-color: transparent;
}

.toggle-mnu.on span:before {
    -webkit-transform: rotate(45deg) translate(-1px, 0px);
    -ms-transform: rotate(45deg) translate(-1px, 0px);
    transform: rotate(45deg) translate(-1px, 0px);
}

.toggle-mnu.on span:after {
    -webkit-transform: rotate(-45deg) translate(6px, -7px);
    -ms-transform: rotate(-45deg) translate(6px, -7px);
    transform: rotate(-45deg) translate(6px, -7px);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

.content {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 10px;
    overflow: hidden;
}

a {
    text-decoration: none;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
    color: #484c55;
}

header {
    background-image: url(../img/head_bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 0 0;
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.nav-bar li {
    list-style-type: none;
    margin: 0 20px;
}

.nav-bar a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}

.nav-bar .h-btn {
    width: 145px;
    background-color: #1db1ae;
    border: 1px solid #1db1ae;
    border-radius: 25px;
    padding: 15px 20px;
}

.nav-bar .h-btn span {
    font-size: 11px;
    padding: 11px;
    font-weight: bold;
    background-color: red;
    border: 1px solid red;
    border-radius: 50%;
}

.banner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 150px;
}

.banner h1 {
    font-size: 42px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-bottom: 35px;
}

.banner .head-text {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 60px;
}

.bg-for-form {
    width: 850px;
    height: 150px;
    opacity: 0.9;
    background-color: #433e3c;
    border-radius: 5px;
    z-index: 0;
}

.h-form {
    background-color: rgba(52, 53, 58, 0.8);
    border-radius: 5px;
    width: 850px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
}

.h-form .location {
    width: 570px;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: 1px solid #dadada;
}

.h-form .data-picker {
    width: 240px;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.h-form .checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 700px;
    background-color: #fff;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 3px;
    padding: 15px 0;
}

.h-form label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: rgb(36, 36, 36);
}

.h-form label span {
    color: #484c55;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
}

.form-btn {
    width: 100px;
    height: 50px;
    padding: 15px;
    background-color: #1db1ae;
    border: 1px solid #1db1ae;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.form-btn img {
    vertical-align: middle;
}

.banner-text {
    font-size: 16px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
}

.banner-text span {
    text-decoration: underline;
}

.banner-btn {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
    border: 1px solid white;
    border-radius: 3px;
    margin-bottom: 125px;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    background-color: #efefef;
}

.catalog h2 {
    font-size: 30px;
    font-weight: bold;
    color: #242424;
    text-transform: uppercase;
    text-align: center;
    margin: 60px 0;
}

.items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 267px;
    background-color: #fff;
    margin: 10px 9px;
    position: relative;
}

.item .room-size {
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.item h3 {
    margin-top: 50px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(29, 177, 174);
    text-align: center;
}

.item p {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #242424;
    text-align: center;
}

.item span {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #9b9b9b;
    text-align: center;
}

.item .line {
    margin-top: 25px;
    width: 267px;
    background-color: #efefef;
}

.item h4 {
    margin-top: 25px;
    font-size: 22px;
    color: rgb(36, 36, 36);
    font-weight: bold;
    text-align: center;
}

.item a {
    margin: 15px 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #1db1ae;
    border: 1px solid #1db1ae;
    border-radius: 20px;
    padding: 10px;
}

.editor {
    background-color: #95e7d1;
}

.size {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.size-text {
    width: 450px;
}

.size-text h5 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-top: 120px;
    margin-bottom: 30px;
}

.size-text p {
    font-size: 20px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
}

.size-img {
    margin-top: 150px;
}

.rang {
    background-color: #fff;
}

.slider {
    display: flex;
    flex-direction: column;
}

.slider input {
    margin-top: 40px;
    margin-bottom: 15px;
}

.range {
    -webkit-appearance: none;
    background: -webkit-linear-gradient(left, #1db1ae 0%, #1db1ae 5%, #e4e4e4 5%, #e4e4e4 100%);
    border: 1px solid #e4e4e4;
    height: 3px;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #1db1ae;
    cursor: pointer;
}

.elements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.elem h4 {
    font-size: 22px;
    color: rgb(36, 36, 36);
    text-transform: uppercase;
    text-align: center;
}

.elem p {
    text-align: center;
    margin-bottom: 40px;
}

.multi-item-carousel .carousel-inner .item {
    transition: .6s ease-in-out all;
}